html{
    font-family: system-ui;
    max-width: 75%;
    margin: 0 auto 5em auto; /* haut | droite | bas | gauche */
    padding: 5px;
    background-color: rgb(75, 74, 74);
    color:  white;
    font-size: 125%; 
}

h1,h2,h3{
    color: rgb(108, 200, 231);
    text-align: center;
}

.textAccueil{
    padding : 0 5em 0 5em;
    text-align: justify;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-shadow: rgb(15, 200, 247) 1px 0 15px;
    color: lightgray;
}

nav{
    background-color: rgb(59, 59, 59);
    margin: 0 auto 1em auto; /* haut | droite | bas | gauche */
    padding: 20px;
    border: solid 5px ;
    border-radius: 40px;
    border-color: rgb(108, 200, 231);
}

nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav > h1{
    text-align: center;
    font-size: 200%;
    margin-top: 0;
}

#actif{
    text-decoration: underline;
}


#photoProfil{
    max-width: 25%;
    max-height: 10%;
    border-radius: 15%;
    margin: 0 0 0 5em;
    
}

#photoProfilDiv{
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap : 1em;
}

footer{
    background-color: rgb(75, 74, 74);
    position: sticky;
    bottom: 0;
}

#mainAPropos{
    display: flex;
    flex-direction: column;
    gap : 1em;
}

hr{
    border : 0;
    height: 2px;
    background-color: rgb(108, 200, 231);
}

.sectionAPropos{
    border: solid 1px;
    border-color: rgb(108, 200, 231);
    border-radius: 40px;
    padding: 0 1em 1em 1em;
    
}

.etudes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width : 1300px) and (min-width: 300px) {
    #photoProfil{
        width: 100%;
        height: 100%;
    }
}
@media (max-width : 1100px) and (min-width: 986px) {
    html{
        font-size: 100%;
    }
}
@media (max-width : 985px) and (min-width: 750px) {
    html{
        font-size: 80%;
    }
}
